/* This file is for your main application scss. */
@import "bootstrap";
table {
  border-collapse: collapse;
}

#brown-square {
  height: 25px;
  width: 25px;
  background: brown;
  border: 0px;
}

#tan-square {
  height: 25px;
  width: 25px;
  background: tan;
  border: 0px;
}

#checker-square {
  height: 25px;
  width: 25px;
  background: red;
  border: 0px;
}
