/* This file is for your main application scss. */
@import "bootstrap";
table {
  border-collapse: collapse;
}

p {
  padding: 1em;
}

.square {
  height: 8vh;
  width: 8vh;
  border: 0px;
  &.tan{
    background-color: tan;
  }
  &.brown {
    background-color: rgb(71, 26, 26);
  }
  &.possible{
    background-color: rgb(170, 170, 247);
    cursor: pointer;
    &:hover{
      opacity: .7 ;
    }
  }
}

.board-layout {
  text-align: center;
}

.checker {
  border-radius: 100%;
  align-content: center;
  width: 7.8vh;
  height: 7.8vh;
  display: block;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 4px grey;
  }
  &.red {
    background-color: red;
  }
  &.black {
    background-color: black;
  }
  &.selected {
    border: 3px solid white;
  }
}